/* styles/PokemonCard.module.css */

.card {
    background-color: var(--card-background);
    color: var(--text-color);
    width: 200px;
    margin: 10px; /* Margin to separate each card */
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--border-color); /* Add border */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin: 10px 0;
  }
  
  .detailsLink {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    background-color: var(--button-background);
    border-top: 1px solid var(--border-color);
    transition: background-color 0.3s;
  }
  
  .detailsLink:hover {
    background-color: var(--button-background-hover);
  }
  